<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h3 style="text-align:center;">
        Bounding Box Correction Tool
    </h3>
    <div style="text-align:center;">
        Image {{ image_index }}
    </div>
    
    <div style="display:flex; margin-top:15px;">
        <canvas id="imageCanvas" style="margin:auto; margin-bottom: none !important;"></canvas>
    </div>
    <div style="display:flex;">
        <div style="margin:auto; margin-top:15px; display: flex;">
            <button id="addBboxButton">+ Add</button>
            <button id="remBboxButton">- Remove</button>
                <div style="margin-left: 120px; margin-right: 120px;">{% if image_index > 0 %}
                    <a href="{{ url_for('home', image_index=image_index-1) }}" style="margin-right: 20px;">&larr;</a>
                {% endif %}
                {% if image_index < 99 %}
                    <a href="{{ url_for('home', image_index=image_index+1) }}">&rarr;</a>
                {% endif %}
                &nbsp;
                <select id="gotoImageDropdown" onchange="gotoImage(this.value)">
                    <option value="" disabled selected>Go to Image</option>
                    {% for i in range(100) %}
                        <option value="{{ i }}">Image {{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <button id="saveButton">Save Picture</button>
        </div>
    </div>
    <div style="color:gray; text-align: center; margin-top: 45px;">
        Make sure to click save before navigating to other images. Otherwise all changes will not save.
    </div>
    <script>
        var imageIndex = {{ image_index }};
        var canvas = document.getElementById('imageCanvas');
        var context = canvas.getContext('2d');
        var image = new Image();
        var bboxes = {{ bboxes | tojson }};
        var bboxes_temp = [];
        var isDrawing = false;
        var isRemoving = false;
        
        function gotoImage(imageIndex) {
            window.location.href = "{{ url_for('home', image_index=0) }}".replace('0', imageIndex);
        }
    
        function drawImage() {
            context.clearRect(0, 0, canvas.width, canvas.height);
            context.drawImage(image, 0, 0);
            context.strokeStyle = 'red';
            bboxes.forEach(function(bbox) {
                context.strokeRect(bbox[0], bbox[1], bbox[2], bbox[3]);
            });
        }
    
        image.onload = function() {
            canvas.width = image.width;
            canvas.height = image.height;
            drawImage();
        };
    
        image.src = "{{ url_for('static', filename='images/' + '%03d' % image_index + '.png') }}";

        canvas.addEventListener('mousemove', function(event) {
            var x = event.clientX - canvas.getBoundingClientRect().left;
            var y = event.clientY - canvas.getBoundingClientRect().top;
            var isOverBoundingBox = bboxes.some(function(bbox) {
                return x >= bbox[0] && y >= bbox[1] && x <= bbox[0] + bbox[2] && y <= bbox[1] + bbox[3];
            });

            canvas.style.cursor = isOverBoundingBox ? 'pointer' : 'default';
        });
        
        var addBboxButton = document.getElementById('addBboxButton');
        addBboxButton.addEventListener('click', function() {
            isDrawing = !isDrawing;
            isRemoving = false; // Make sure removing is turned off
            updateButtonColors();
            canvas.style.cursor = isDrawing ? 'crosshair' : 'default';
            console.log("VARIABLES: ", isDrawing, isRemoving)
        });

        var remBboxButton = document.getElementById('remBboxButton');
        remBboxButton.addEventListener('click', function() {
            isRemoving = !isRemoving;
            isDrawing = false; // Make sure drawing is turned off
            updateButtonColors();
            canvas.style.cursor = isRemoving ? 'pointer' : 'default';
        });

        function updateButtonColors() {
            addBboxButton.style.backgroundColor = isDrawing ? 'green' : '';
            remBboxButton.style.backgroundColor = isRemoving ? 'green' : '';
        }

        canvas.addEventListener('click', function(event) {
            if (isRemoving) {
                var x = event.clientX - canvas.getBoundingClientRect().left;
                var y = event.clientY - canvas.getBoundingClientRect().top;

                for (var i = bboxes.length - 1; i >= 0; i--) {
                    var bbox = bboxes[i];
                    if (x >= bbox[0] && y >= bbox[1] && x <= bbox[0] + bbox[2] && y <= bbox[1] + bbox[3]) {
                        bboxes.splice(i, 1);
                        drawImage();
                        break;
                    }
                }
            }
        });


        var startDrawPosition = null;
        var currentDrawPosition = null;

        canvas.addEventListener('mousedown', function(event) {
            if (isDrawing) {
                var x = event.clientX - canvas.getBoundingClientRect().left;
                var y = event.clientY - canvas.getBoundingClientRect().top;
                startDrawPosition = { x: x, y: y };
                currentDrawPosition = { x: x, y: y };
                console.log("Starting coords:", x, y)
            }
        });

        canvas.addEventListener('mousemove', function(event) {
            if (isDrawing && startDrawPosition) {
                var x = event.clientX - canvas.getBoundingClientRect().left;
                var y = event.clientY - canvas.getBoundingClientRect().top;
                currentDrawPosition = { x: x, y: y };
                drawImage();
                context.strokeStyle = 'green';
                context.strokeRect(
                    Math.min(startDrawPosition.x, currentDrawPosition.x),
                    Math.min(startDrawPosition.y, currentDrawPosition.y),
                    Math.abs(currentDrawPosition.x - startDrawPosition.x),
                    Math.abs(currentDrawPosition.y - startDrawPosition.y)
                );
            }
        });

        canvas.addEventListener('mouseup', function(event) {
            if (isDrawing && startDrawPosition && currentDrawPosition) {
                var x = event.clientX - canvas.getBoundingClientRect().left;
                var y = event.clientY - canvas.getBoundingClientRect().top;

                let startX = Math.min(startDrawPosition.x, x);
                let startY = Math.min(startDrawPosition.y, y);
                let width = Math.abs(startDrawPosition.x - x);
                let height = Math.abs(startDrawPosition.y - y);

                newEntry = [startX, startY, width, height];
                bboxes.push(newEntry);

                startDrawPosition = null;
                currentDrawPosition = null;

                drawImage();
                canvas.style.cursor = 'default';
            }
            console.log(isDrawing);
        });

        // Add an event listener to stop drawing when the cursor leaves the canvas
        canvas.addEventListener('mouseleave', function() {
            startDrawPosition = null;
            currentDrawPosition = null;
            canvas.style.cursor = 'default';
        });



        var saveButton = document.getElementById('saveButton');

        saveButton.addEventListener('click', function() {
            console.log("Save button clicked");
            var url = '{{ url_for('save_bboxes', image_index=0) }}'.replace('0', imageIndex);
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ bboxes: bboxes }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Saved successfully!');
                } else {
                    alert('An error occurred while saving.');
                }
            });
        });

    </script>
    
</body>

</html>